html,
body {
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
.page-content {
  overflow-x: hidden;
}
.title-bar {
  padding: 0 10px;
  position: relative;
  padding-top: 170px;
  padding-bottom: 50px;
  background: #000;
}
.title-bar .bg {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-bar .slider-title {
  box-sizing: border-box;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.title-bar .slider-title .slick-dots {
  bottom: 50px;
}
.title-bar .slider-title .slick-dots li button:before {
  font-size: 15px;
  color: #fff;
  opacity: 1;
}
.title-bar .slider-title .slick-dots li.slick-active button:before {
  color: #649538;
}
.title-bar .slider-title .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 50px;
}
.title-bar .slider-title .arrow:hover img {
  width: 110%;
}
.title-bar .slider-title .arrow.left {
  left: 0;
}
.title-bar .slider-title .arrow.right {
  right: 0;
}
.title-bar .slider-title .arrow img {
  width: 100%;
  transition: all 0.1s ease-out;
}
.title-bar .slider-title .slide .slide-box {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 10%, rgba(255, 255, 255, 0.22) 33%, rgba(255, 255, 255, 0.33) 50%, rgba(255, 255, 255, 0.4) 61%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.6) 100%);
  border-radius: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.title-bar .slider-title .slide .slide-box .slide-title {
  width: 60%;
}
.title-bar .slider-title .slide .slide-box .slide-desc {
  font-family: "OpenSans-Regular";
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
}
.advantages {
  padding: 0 10px;
  position: relative;
  padding-top: 140px;
  padding-bottom: 90px;
}
.advantages .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.advantages .bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  opacity: 0.1;
}
.advantages .advantages-bar .advantages-box {
  margin-bottom: 20px;
}
.advantages .advantages-bar .advantages-box img {
  height: 120px;
  display: block;
  margin: 0 auto;
}
.advantages .advantages-bar .advantages-box img.height {
  height: 160px;
}
.advantages .advantages-bar .advantages-box p {
  margin-top: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "OpenSans-SemiBold";
}
.servises {
  padding: 0 10px;
  padding-top: 120px;
  padding-bottom: 70px;
  display: flex;
}
.servises h2 {
  font-size: 36px;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  color: #649538;
  margin-left: 15px;
  margin-bottom: 100px;
  z-index: 20;
}
.servises .servises-bar .servises-box {
  width: 20%;
  float: left;
  box-sizing: border-box;
  min-height: 320px;
  z-index: 20;
  cursor: pointer;
  text-decoration: none;
}
.servises .servises-bar .servises-box:hover .img-border {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border: 9px solid #649538;
  border-radius: 100%;
}
.servises .servises-bar .servises-box:hover p {
  color: #649538;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.servises .servises-bar .servises-box .img-box {
  padding: 30px;
  position: relative;
  z-index: 20;
}
.servises .servises-bar .servises-box img {
  width: 100%;
}
.servises .servises-bar .servises-box p {
  text-align: center;
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0 10px;
  z-index: 20;
}
.about {
  padding: 0 10px;
  position: relative;
  padding-top: 150px;
  padding-bottom: 160px;
}
.about .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.about .bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  opacity: 0.1;
}
.about h2 {
  font-size: 36px;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 100px;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 140px;
  z-index: 20;
}
.about .slider-about {
  max-width: 1140px;
  margin: 0 auto;
}
.about .slider-about .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 50px;
}
.about .slider-about .arrow:hover img {
  width: 110%;
}
.about .slider-about .arrow.left {
  left: 0;
}
.about .slider-about .arrow.right {
  right: 0;
}
.about .slider-about .arrow img {
  width: 100%;
  transition: all 0.1s ease-out;
}
.about .slider-about .slide .slide-box {
  max-width: 600px;
  margin: 0 auto;
  z-index: 20;
}
.about .slider-about .slide .slide-box p {
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}
.reviews {
  padding: 0 10px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.reviews h2 {
  font-size: 36px;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  color: #649538;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1140px;
  z-index: 20;
}
.reviews .slider-reviews {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 70px;
}
.reviews .slider-reviews .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 50px;
}
.reviews .slider-reviews .arrow:hover img {
  width: 110%;
}
.reviews .slider-reviews .arrow.left {
  left: 0;
}
.reviews .slider-reviews .arrow.right {
  right: 0;
}
.reviews .slider-reviews .arrow img {
  width: 100%;
  transition: all 0.1s ease-out;
}
.reviews .slider-reviews .slide {
  margin: 0 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 20;
}
.reviews .slider-reviews .slide .slide-box {
  z-index: 20;
}
.reviews .slider-reviews .slide .slide-box img {
  width: 60%;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}
.reviews .slider-reviews .slick-current img {
  transform: scale(1.6);
}
.reviews .slider-reviews-small {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 70px;
}
.reviews .slider-reviews-small .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 50px;
}
.reviews .slider-reviews-small .arrow:hover img {
  width: 110%;
}
.reviews .slider-reviews-small .arrow.left {
  left: 0;
}
.reviews .slider-reviews-small .arrow.right {
  right: 0;
}
.reviews .slider-reviews-small .arrow img {
  width: 100%;
  transition: all 0.1s ease-out;
}
.reviews .slider-reviews-small .slide {
  margin: 0 10px;
}
.reviews .slider-reviews-small .slide .slide-box img {
  width: 40%;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}
.reviews .slider-text {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}
.reviews .slider-text .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 50px;
}
.reviews .slider-text .arrow:hover img {
  width: 110%;
}
.reviews .slider-text .arrow.left {
  left: 0;
}
.reviews .slider-text .arrow.right {
  right: 0;
}
.reviews .slider-text .arrow img {
  width: 100%;
  transition: all 0.1s ease-out;
}
.reviews .slider-text .slide {
  margin: 0 10px;
}
.reviews .slider-text .slide .slide-box {
  max-width: 600px;
  margin: 0 auto;
}
.reviews .slider-text .slide .slide-box h3 {
  font-family: "OpenSans-SemiBold", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  margin-bottom: 40px;
}
.reviews .slider-text .slide .slide-box p {
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.gallery {
  padding: 0 10px;
  padding-bottom: 130px;
  margin: 0 auto;
}
.gallery h2 {
  font-size: 36px;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  color: #649538;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1140px;
  z-index: 20;
}
.gallery .slider-gallery .slide {
  z-index: 20;
}
.gallery .slider-gallery .slide .slide-box {
  z-index: 20;
}
.gallery .slider-gallery .slide .slide-box img {
  width: 95%;
  margin: 0 auto;
}
.gallery .slider-gallery-small {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 70px;
}
.gallery .slider-gallery-small .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 50px;
}
.gallery .slider-gallery-small .arrow:hover img {
  width: 110%;
}
.gallery .slider-gallery-small .arrow.left {
  left: 0;
}
.gallery .slider-gallery-small .arrow.right {
  right: 0;
}
.gallery .slider-gallery-small .arrow img {
  width: 100%;
  transition: all 0.1s ease-out;
}
.gallery .slider-gallery-small .slide {
  margin: 0 10px;
}
.gallery .slider-gallery-small .slide .slide-box img {
  width: 80%;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}
.articles {
  padding: 0 10px;
  padding-bottom: 130px;
}
.articles h2 {
  font-size: 36px;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  color: #649538;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1140px;
  z-index: 20;
}
.articles .article-container .article-card {
  padding: 0 10px;
}
.articles .article-container .article-card .box {
  background-color: #456713;
  cursor: pointer;
}
.articles .article-container .article-card .box img {
  width: 100%;
}
.articles .article-container .article-card .box h4 {
  margin: 20px;
  display: inline-block;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
}
.articles .article-container .article-card .box p {
  margin: 20px;
  display: inline-block;
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}
.contacts {
  padding: 0 10px;
  padding-top: 20px;
}
.contacts .contacts-container {
  padding-bottom: 90px;
  display: flex;
  justify-content: row;
  justify-content: space-between;
}
.contacts .contacts-container .left-bar h2 {
  font-size: 36px;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  color: #649538;
  margin: 0 auto;
  margin-bottom: 70px;
  z-index: 20;
}
.contacts .contacts-container .left-bar h6 {
  font-size: 16px;
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  margin-top: 25px;
  z-index: 20;
}
.contacts .contacts-container .left-bar h3 {
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  margin-top: 60px;
  font-size: 24px;
  margin-bottom: 10px;
  z-index: 20;
}
.contacts .contacts-container .left-bar .input-group {
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.contacts .contacts-container .left-bar .input-group p {
  margin-top: 20px;
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #777;
}
.contacts .contacts-container .left-bar .input-group .data {
  padding: 7px 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
  width: 280px;
}
.contacts .contacts-container .left-bar .input-group .data:focus {
  border-bottom-color: #649538;
}
.contacts .contacts-container .left-bar .form {
  width: 280px;
  position: relative;
  margin-top: 30px;
  z-index: 20;
}
.contacts .contacts-container .left-bar .form .message {
  width: 100%;
  padding: 7px 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #333;
  padding-right: 30px;
}
.contacts .contacts-container .left-bar .form .message:focus {
  border-bottom-color: #649538;
}
.contacts .contacts-container .left-bar .form span {
  display: table-cell;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 0;
}
.contacts .contacts-container .left-bar .form span img {
  width: 100%;
}
.contacts .contacts-container .right-bar {
  width: 600px;
  height: 600px;
  position: relative;
}
.contacts .contacts-container .right-bar .map {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 100%;
  z-index: 3;
}
.contacts .contacts-container .right-bar .border-map {
  position: absolute;
  top: -5px;
  right: -5px;
  left: -5px;
  bottom: -5px;
  border-radius: 100%;
  z-index: 1;
  background: linear-gradient(to right, #ffffff 0%, rgba(150, 183, 120, 0.2) 50%, rgba(100, 149, 56, 0.6) 100%);
}
.footer {
  position: relative;
  padding: 0 30px;
}
.footer .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  opacity: 0.1;
}
.footer .footer-container {
  padding-top: 40px;
  padding-bottom: 30px;
}
.footer .footer-container .footer-box {
  display: flex;
  flex-direction: column;
}
.footer .footer-container .footer-box img {
  width: 80%;
}
.footer .footer-container .footer-box a {
  color: #fff;
  font-family: "OpenSans-SemiBold", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.footer .footer-container .footer-box a:hover {
  opacity: 0.6;
}
.footer .footer-container .footer-box a:first-child {
  margin-top: 70px;
}
.footer .footer-container .footer-box p {
  color: #fff;
  font-family: "OpenSans-SemiBold", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
.footer .footer-bar {
  padding-bottom: 40px;
}
.footer .footer-bar .footer-text {
  display: flex;
}
.footer .footer-bar .footer-text p {
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  color: #fff;
}
.footer .footer-bar .footer-text p a {
  color: #fff;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  text-decoration: underline #fff;
}
.footer .footer-bar .footer-text h6 {
  color: #fff;
  margin: 0 10px;
  margin-top: -2px;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 2px 8px;
  width: 27px;
  height: 27px;
}
.footer .footer-bar .footer-icons img {
  width: 16px;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}
.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.83);
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 99;
}
.header-menu .header-box {
  display: flex;
  align-items: center;
}
.header-menu .header-box:hover {
  text-decoration: none;
}
.header-menu .header-box .logo-title {
  width: 60px;
  margin-right: 15px;
}
.header-menu .header-box h1 {
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.header-menu ul {
  display: flex;
}
.header-menu ul li {
  margin: 0 10px;
}
.header-menu ul li a {
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}
.header-menu ul li a:hover {
  color: #649538;
}
.header-menu .mobile-menu {
  display: none;
  width: 80px;
}
.header-menu .mobile-menu img {
  width: 30px;
  cursor: pointer;
}
.header-menu .mobile-menu img:first-child {
  margin-right: 20px;
}
.header-menu .phone {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.header-menu .phone img {
  width: 20px;
  margin-right: 5px;
}
.header-menu .phone a {
  cursor: pointer;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #649538;
}
.header-menu .phone a:hover {
  color: #649538;
}
.call-back {
  position: fixed;
  top: 40%;
  transform: translateY(-50%);
  right: 60px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 999;
}
.call-back.active {
  right: 300px;
}
.call-back .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.call-back img {
  position: absolute;
  top: 30px;
  left: 15px;
  bottom: 0;
  z-index: 3;
  width: 40px;
}
.call-back .form {
  position: absolute;
  top: 25px;
  left: 70px;
  border-radius: 3px;
  z-index: 99;
  width: 220px;
  background-color: #fff;
  height: 55px;
  padding-top: 10px;
  padding-left: 10px;
}
.call-back .form input {
  width: 200px;
  padding: 7px 10px;
  display: table-cell;
  border: none;
  outline: none;
  border-bottom: 2px solid #333;
  padding-right: 30px;
}
.call-back .form input:focus {
  border-bottom-color: #649538;
}
.call-back .form span {
  position: absolute;
  bottom: 70px;
  left: 170px;
}
.call-back .form span img {
  width: 25px;
}
.call-back_mob {
  position: fixed;
  top: 80px;
  right: 0px;
  padding: 7px 10px;
  background-color: #fff;
  border: 1px solid #fff;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
}
.call-back_mob.active {
  transform: none;
}
.call-back_mob input {
  width: 200px;
  padding: 7px 10px;
  display: table-cell;
  border: none;
  outline: none;
  border-bottom: 2px solid #333;
  padding-right: 30px;
}
.call-back_mob input:focus {
  border-bottom-color: #649538;
}
.call-back_mob span {
  position: absolute;
  top: 15px;
  right: 7px;
}
.call-back_mob span img {
  width: 25px;
}
.mob-menu {
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.4s ease-out;
}
.mob-menu.active {
  transform: none;
}
.mob-menu ul li {
  text-align: center;
  padding: 20px 0;
  min-width: 80vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.mob-menu ul li a {
  color: #f6f6f6;
  text-align: center;
  font-size: 20px;
  font-family: "OpenSans-Regular", "Tahoma", Arial, Helvetica, sans-serif;
}
.mob-menu ul li a:hover {
  text-decoration: none;
  outline: none;
  opacity: 0.5;
}
.mob-menu ul li:last-child {
  border: none;
}
.mob-menu .close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mob-menu .close img {
  width: 100%;
}
.slide {
  outline: none;
}
.parallax {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 150px;
}
.parallax.left {
  left: 0px;
}
.parallax.right {
  right: 0px;
}
.parallax .par-item {
  width: 100%;
  padding: 0  25px;
  z-index: 5;
}
.parallax .par-item.big {
  padding: 0;
}
.parallax .par-item.small {
  padding: 0 40px;
}
.parallax .under-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  width: 100%;
}
.parallax .under-box .par-under-item {
  width: 100%;
  z-index: 2;
  padding: 0 20px;
}
.parallax .under-box .par-under-item.big {
  padding: 0 15px;
}
.parallax .under-box .par-under-item.small {
  padding: 0 50px;
}
.header-bg {
  height: 300px;
  display: flex;
  align-items: center;
}
.header-bg .header__title {
  color: #fff;
  font-family: "OpenSans-Bold", "Tahoma", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 80px;
}
.info {
  padding-bottom: 200px;
  padding-top: 25px;
  position: relative;
  z-index: 90;
}
.info .breadcrumbs {
  display: flex;
}
.info .breadcrumbs__item {
  margin-right: 10px;
}
.info .breadcrumbs__item:after {
  content: url('../img/icons/arrow-breadcrumbs.png');
  margin-left: 10px;
}
.info .breadcrumbs__item:last-child {
  margin-right: 0;
}
.info .breadcrumbs__item:last-child:after {
  display: none;
}
.info .breadcrumbs__link:hover {
  color: initial;
  text-decoration: none;
}
.info .breadcrumbs__link--active {
  color: #649538;
}
.info .breadcrumbs__link--active:hover {
  color: #649538;
}
.info__paragraph {
  line-height: 25px;
  margin-bottom: 30px;
}
.info__paragraph:last-child {
  margin-bottom: 0;
}
.info__first-letter {
  text-transform: uppercase;
  font-family: "Barber", "Tahoma", Arial, Helvetica, sans-serif;
  color: #649538;
  font-size: 30px;
}
.info__text-wrapper {
  margin-top: 50px;
}
.info .button__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}
.button {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 60px;
  box-shadow: -2.2px 6.7px 26.6px 5.4px rgba(91, 174, 3, 0.24);
  display: block;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background-image: linear-gradient(98deg, #9bdb17 0%, #14b400 100%);
}
.button:hover,
.button:active,
.button:focus {
  outline: none;
}
.button--green {
  background-image: linear-gradient(98deg, #80aa29 0%, #1d6f13 100%);
}
@media screen and (min-width: 768px) {
  .title-bar .slider-title .slide .slide-box {
    width: 500px;
    height: 500px;
  }
  .slider-gallery-small {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .slider-reviews-small {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .parallax {
    opacity: 0;
    visibility: hidden;
  }
  .slider-reviews {
    display: none;
  }
  .footer .footer-container .footer-box img {
    width: 30%;
  }
  .contacts .contacts-container {
    flex-direction: column;
    align-items: center;
  }
  .contacts .contacts-container .right-bar {
    width: 100%;
    height: 600px;
  }
  .contacts .contacts-container .right-bar .map {
    border-radius: 0px;
  }
  .contacts .contacts-container .right-bar .border-map {
    display: none;
  }
  .header-menu ul {
    display: none;
  }
  .header-menu .phone {
    display: none;
  }
  .header-menu .mobile-menu {
    display: inline-block;
  }
  .header-menu .mobile-menu img {
    float: left;
  }
  .articles .article-card {
    margin-bottom: 15px;
  }
  .footer .footer-container .footer-box a:first-child {
    margin-top: 40px;
  }
  .call-back {
    display: none;
  }
  .info__text.sec {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .title-bar .slider-title .slide .slide-box {
    width: 350px;
    height: 350px;
  }
  .articles {
    box-sizing: border-box;
    padding: 0 30px;
  }
  .slider-gallery-small {
    display: block;
  }
  .servises .servises-bar .servises-box {
    width: 33.33%;
  }
  .title-bar .slider-title .slide .slide-box .slide-desc {
    font-size: 20px;
  }
  .title-bar .slider-title .slick-dots {
    bottom: -30px;
  }
  .advantages .advantages-bar .advantages-box img {
    width: 100px;
    height: 100px;
  }
  .advantages .advantages-bar .advantages-box img.height {
    height: 140px;
  }
  .title-bar {
    padding-top: 140px;
    min-height: 430px;
  }
  .advantages .advantages-bar .advantages-box p {
    font-size: 14px;
  }
  .slider-gallery {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .title-bar .slider-title .slide .slide-box {
    width: 200px;
    height: 200px;
  }
  .reviews .slider-reviews-small .slide .slide-box img {
    width: 50%;
  }
  .servises h2 {
    font-size: 20px;
  }
  .servises .servises-bar .servises-box {
    width: 50%;
  }
  .about .slider-about .slide .slide-box {
    max-width: 220px;
  }
  .page-content h2 {
    font-size: 24px;
    text-align: center;
  }
  .reviews .slider-text .slide .slide-box h3 {
    font-size: 15px;
  }
  .reviews .slider-text .slide .slide-box p {
    font-size: 14px;
  }
  .contacts .contacts-container .left-bar h2 {
    font-size: 24px;
  }
  .contacts .contacts-container .left-bar h6 {
    font-size: 14px;
    text-align: center;
  }
  .contacts .contacts-container .left-bar h3 {
    text-align: center;
    font-size: 20px;
  }
  .articles .article-container .article-card .box {
    width: 250px;
    margin: 0 auto;
  }
  .header-bg .header__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .servises-box {
    min-height: 295px !important;
  }
}
@media screen and (max-width: 425px) {
  .servises-box {
    min-height: 250px !important;
  }
}
@media screen and (max-width: 425px) {
  .header-menu .header-box h1 {
    display: none;
  }
  .header-menu .header-box .logo-title {
    width: 50px;
  }
}
